.space-payload {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  text-align: left;
}
.heading {
  font-size: 2rem;
  grid-column-start: span 3;
  text-align: center;
}
.pagination {
  grid-column-start: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
