@import "~antd/dist/antd.dark.css";
.layout {
  text-align: center;
  font-family: "Roboto";
  max-width: 100vw;
  height: 100vh;
}
.content {
  padding: 20px 50px;
}
.footer {
  text-align: center;
}
