@import "~antd/dist/antd.dark.css";
.layout {
  text-align: center;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  padding: 20px 50px;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  text-align: center;
  width: 100%;
}
